<p id="notice"><%= notice %></p>

<table class="fulltable">
  <thead>
    <tr>
      <th calss="menu-title"><%= image_tag('all-breakfast.jpeg', :class => "all-breakfast") %> Menu <%= image_tag('eating-breakfast.jpeg', :class => "eating-breakfast") %></th>

    </tr>

  </thead>
    <tbody class="table-info">
        <% @courses.each do |course| %>
          <tr>
            <td><h3><%= course.name %></h3></td>
            <tr><% course.dishes.each do |dish| %>
              <td><%= number_to_currency(dish.price) %></td>
              <td><%= dish.name %></td>
              <td><%= dish.description %></td>
            <td><%= link_to 'Show', course %>
            <%= link_to 'Edit', edit_course_path(course) %>
            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'New Dish', new_course_path %></td>
            <% end %></tr>
          </tr>
        <% end %>
    </tbody>
  </table>

  <br>
